* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
}
html {
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    width: 90%;
    position: fixed;
    top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 5px 0px 5px #9DC08B;
    z-index: 999;
    transition:300ms;
}

#navbar:hover {
     box-shadow: 0px 0px 0px 5px #609966;
}

li {
    display: inline;
    margin: 1rem;
    font-size: 1.25rem;
}

#navbar h1 {
    font-weight: 600;
    flex-grow: 2;
    margin: 1rem 1rem 1rem 2rem;
}

#navbar ul li a {
    text-decoration: dashed underline transparent 4px;
    transition: 300ms;
}

#navbar ul li a:hover {
    text-decoration: solid underline #9DC08B 4px;
    color: #609966;
}

#navbar button {
    margin: .75rem 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(34, 0, 0, 0.2);
    transition: 300ms;
}

#navbar button:hover {
    background-color: darkorange;
}

/* SECTION Welcome */
#welcome-section {
    background-color: #EDF1D6;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#welcome-section h1 {
    font-size: 3rem;
}

.disc:nth-child(1) {
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px .15rem white;
    transform: translate(1rem, 13rem);
    z-index: 100;
}

.disc:nth-child(2) {
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px .25rem limegreen;
    transform: translate(15rem, 8rem);
    z-index: 100;
}

.disc:nth-child(3) {
    position: relative;
    width: .75rem;
    height: .75rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px .20rem red;
    transform: translate(6rem, -4rem);
    z-index: 100;
}

.disc:nth-child(4) {
    position: relative;
    width: .5rem;
    height: .5rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px .12rem blue;
    transform: translate(-4rem, 2rem);
    z-index: 100;
}

.roundRect {
    width: 250px;
    height: 150px;
    border-radius: .5rem 2rem 2rem .5rem;
    transform: rotate(10deg);
    transition: 300ms;
}

#servicesSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.servicesListTopLevelContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.servicesListBackground {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
    background-color: #E8F8FB;
    border-radius: .5rem;
    overflow-y: auto;
    scrollbar-width: 0;
    transition: 300ms;
}

.servicesListBackground:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2) inset;
}

.serviceBackground:hover {
    background: linear-gradient(90deg, #EDF1D6, #9DC08B, #609966);
    padding: 1rem;
}


.serviceBackground {
    width: 100%;
    border-radius: .5rem;
    padding: .9rem;
    background: linear-gradient(90deg, transparent, transparent, transparent);
    transition: 300ms;
}

.service {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: 300ms;
}

.service:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
    color: orange;
}

.service h2 {
    margin: 0;
    padding: .5rem 0;
}

.service p {
    font-size: .8rem;
    color:rgba(0, 0, 0, .5);
}

.myServiceDesc {
    padding: 2rem;
}

.myServiceDesc h1 {
    font-size: 4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
h1 span {
    color: orange;
    display: block;
}

.myServiceDesc p {
    color: rgba(0, 0, 0, .5);
}

.hireMe {
    padding: .5rem 2rem;
    border: none;
    background-color: orange;
    color: white;
    letter-spacing: 1px;
    border-radius: .5rem;
    font-size: 1rem;
}

hr {
    opacity: .1;
}

/* SECTION projects */
#projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#projects h1 {
    padding-top: 6rem;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 500;
}

.projectsList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.project-tile {
    flex-basis: 27.5%;
    margin: .5rem;
    text-align: end;
    padding: .2rem;
    transition: 300ms;
}

.project-tile:hover  {
    padding: 1rem;
    background: linear-gradient(90deg,  #9DC08B, #609966, #40513B);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2) inset;
    border-radius: .5rem;
    flex-grow: .1;
}

.project-tile a {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-decoration: none;
}

.project-tile a:hover {
    border-radius: .5rem;
}

.project-tile a img {
    max-width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: 1px solid #EDF1D6;
}
.project-tile a img:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

/* FOOTER */
footer {
    height: 100vh;
    background-color: #609966;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #fff;
}

footer h1 {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing:1px;
}

.footer p {
    opacity: .75;
}

.footer ul {
    margin-top: 2rem;
    padding: 0;
}

/* intentionally not using class */
a {
    text-decoration: none;
    color: inherit;
}

.footer ul li {
    text-transform: capitalize;
    font-weight: 500; 
     background-color: white;
     color: black;
     padding: .5rem 1rem;
     border-radius: .5rem;
     box-shadow: 0px 5px 0px 5px #40513B;
     transition: 300ms;
}

.footer ul li:hover {
    box-shadow: 0px 0px 0px 5px #9DC08B;
}

@media screen and (max-width: 768px) {
    #welcome-section {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    #navbar {
        width: 90vw;
    }

    #navbar ul {
        display: none;
    }

    .intro {
        z-index: 100;
        padding: 1rem
    }
    .shapes {
        position: absolute;
        z-index:0;
    }

    /* SECTION Services MOBILE */
    #servicesSection {
        flex-direction: column-reverse;
        justify-content: stretch;
        overflow: auto;
    }

    .intro p {
        background-color: #9DC08B;
        padding: .5rem;
        color: rgba(255,255,255,1);
        border-radius: .5rem;
    }

    .projectsList {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }

    footer h1 {
        font-weight: 500;
        font-size: 3.5rem;
        margin-bottom: 0;
        letter-spacing: 1px;
        text-align: center;
    }

    footer ul {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
    }

    .footer ul li {
        flex-basis: 40%;
        padding: 1rem;
    }
}